body {
	background-image: url("http://localhost:4567/images/felt.jpg");
	background-repeat: repeat-y repeat-x;
	color: white;
	margin: 40px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 1.3em;
}

#instructions {
	white-space: nowrap;
}

a {
	color: white;
	text-decoration: none;
}

.q {
	
}
.a {
	color: #ffc;
	white-space: nowrap;
}

ul {
	list-style-type: none;
}

ul li {
	line-height: 1.5em;
}
 
#sidebar {
	float: left;
	width: 300px;
}

#question {
	height: 35px;
	width: 450px;
	font-size: 1.2em;
}

#eight {
	background-color: white;
	background-image: url("http://localhost:4567/images/magic8ball.jpg");
	width: 500px;
	height: 500px;
	float: right;
}

#answer {
	width: 500px;
	text-align: center;
	vertical-align: middle;
	line-height: 460px;
}

.hand {
	cursor: pointer;
	cursor: hand;
}